/* 
	Styles here should be specific to this module. It will be aggregated and compiled when the environment starts up.
	example code below
	-----------------------------

@import 'global-variables.styles.scss';

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  background-color:$primary-color;
  color: $primary-color;
}
*/
